<h1>Матрица пифагора</h1>
<table class="mytable">
    <tr>
        <td class="mytd , text-color1">Дата рождения</td>
        <td class="mytd , text-color2" style="border-right:3px solid black">@ViewBag.date</td>
    </tr>
    <tr>
        <td class="mytd , text-color1">Число судьбы</td>
        <td class="mytd , text-color2">@ViewBag.fateNum</td>
        <td class="mytd , text-color1" style="border-top:3px solid black">Код жизни</td>
        <td class="mytd , text-color2" style="border-top:3px solid black">@ViewBag.lifeCode</td>
    </tr>
    <tr>
        <td rowspan="2" class="mytd , text-color1">Доп. числа</td>
        <td class="mytd , text-color2">@ViewBag.firstNum</td>
        <td class="mytd , text-color2">@ViewBag.secondNum</td>
        <td class="mytd , backcolor2">Темперамент</td>
    </tr>
    <tr>
        <td class="mytd , text-color2">@ViewBag.thirdNum</td>
        <td class="mytd , text-color2">@ViewBag.fourthNum</td>
        <td class="mytd , backcolor2">@ViewBag.ex1Te</td>
    </tr>
    <tr>
        <td class="mytd , backcolor1">Характер</td>
        <td class="mytd , backcolor1">Здоровье</td>
        <td class="mytd , backcolor1">Удача</td>
        <td class="mytd , backcolor2">Цель</td>
    </tr>
    <tr>
        <td class="mytd , backcolor1">@ViewBag.in1Ch</td>
        <td class="mytd , backcolor1">@ViewBag.in4Zd</td>
        <td class="mytd , backcolor1">@ViewBag.in7Ud</td>
        <td class="mytd , backcolor2">@ViewBag.ex2Ce</td>
    </tr>
    <tr>
        <td class="mytd , backcolor1">Энергия</td>
        <td class="mytd , backcolor1">Логика</td>
        <td class="mytd , backcolor1">Долг</td>
        <td class="mytd , backcolor2">Семья</td>
    </tr>
    <tr>
        <td class="mytd , backcolor1">@ViewBag.in2En</td>
        <td class="mytd , backcolor1">@ViewBag.in5Lo</td>
        <td class="mytd , backcolor1">@ViewBag.in8Do</td>
        <td class="mytd , backcolor2">@ViewBag.ex3Se</td>
    </tr>
    <tr>
        <td class="mytd , backcolor1">Интерес</td>
        <td class="mytd , backcolor1">Труд</td>
        <td class="mytd , backcolor1">Память</td>
        <td class="mytd , backcolor2">Стабильность</td>
    </tr>
    <tr>
        <td class="mytd , backcolor1">@ViewBag.in3In</td>
        <td class="mytd , backcolor1">@ViewBag.in6Tr</td>
        <td class="mytd , backcolor1">@ViewBag.in9Pa</td>
        <td class="mytd , backcolor2">@ViewBag.ex4St</td>
    </tr>
    <tr>
        <td class="mytd , backcolor2">Самооценка</td>
        <td class="mytd , backcolor2">Быт</td>
        <td class="mytd , backcolor2">Талант</td>
        <td class="mytd , backcolor2">Духовность</td>
    </tr>
    <tr>
        <td class="mytd , backcolor2">@ViewBag.ex5Sa</td>
        <td class="mytd , backcolor2">@ViewBag.ex6Bi</td>
        <td class="mytd , backcolor2">@ViewBag.ex7Ta</td>
        <td class="mytd , backcolor2">@ViewBag.ex8Du</td>
    </tr>
</table>
