<h1>Матрица пифагора</h1>
<table class="mytable">
    <tr>
        <td class="mytd , text-color1">Дата рождения</td>
        <td class="mytd , text-color2" style="border-right:3px solid black">@ViewBag.date</td>
    </tr>
    <tr>
        <td class="mytd , text-color1">Число судьбы</td>
        <td class="mytd , text-color2">@ViewBag.fateNum</td>
        <td class="mytd , text-color1" style="border-top:3px solid black">Код жизни</td>
        <td class="mytd , text-color2" style="border-top:3px solid black">@ViewBag.lifeCode</td>
    </tr>
    <tr>
        <td rowspan="2" class="mytd , text-color1">Доп. числа</td>
        <td class="mytd , text-color2">@ViewBag.firstNum</td>
        <td class="mytd , text-color2">@ViewBag.secondNum</td>
        <td class="mytdbot , backcolor2">Темперамент</td>
    </tr>
    <tr>
        <td class="mytd , text-color2">@ViewBag.thirdNum</td>
        <td class="mytd , text-color2">@ViewBag.fourthNum</td>
        <td class="mytdtop , backcolor2">@ViewBag.ex1Te</td>
    </tr>
    <tr>
        <td class="mytdbot , backcolor1">Характер</td>
        <td class="mytdbot , backcolor1">Здоровье</td>
        <td class="mytdbot , backcolor1">Удача</td>
        <td class="mytdbot , backcolor2">Цель</td>
    </tr>
    <tr>
        <td class="mytdtop , backcolor1">@ViewBag.in1Ch</td>
        <td class="mytdtop , backcolor1">@ViewBag.in4Zd</td>
        <td class="mytdtop , backcolor1">@ViewBag.in7Ud</td>
        <td class="mytdtop , backcolor2">@ViewBag.ex2Ce</td>
    </tr>
    <tr>
        <td class="mytdbot , backcolor1">Энергия</td>
        <td class="mytdbot , backcolor1">Логика</td>
        <td class="mytdbot , backcolor1">Долг</td>
        <td class="mytdbot , backcolor2">Семья</td>
    </tr>
    <tr>
        <td class="mytdtop , backcolor1">@ViewBag.in2En</td>
        <td class="mytdtop , backcolor1">@ViewBag.in5Lo</td>
        <td class="mytdtop , backcolor1">@ViewBag.in8Do</td>
        <td class="mytdtop , backcolor2">@ViewBag.ex3Se</td>
    </tr>
    <tr>
        <td class="mytdbot , backcolor1">Интерес</td>
        <td class="mytdbot , backcolor1">Труд</td>
        <td class="mytdbot , backcolor1">Память</td>
        <td class="mytdbot , backcolor2">Стабильность</td>
    </tr>
    <tr>
        <td class="mytdtop , backcolor1">@ViewBag.in3In</td>
        <td class="mytdtop , backcolor1">@ViewBag.in6Tr</td>
        <td class="mytdtop , backcolor1">@ViewBag.in9Pa</td>
        <td class="mytdtop , backcolor2">@ViewBag.ex4St</td>
    </tr>
    <tr>
        <td class="mytdbot , backcolor2">Самооценка</td>
        <td class="mytdbot , backcolor2">Быт</td>
        <td class="mytdbot , backcolor2">Талант</td>
        <td class="mytdbot , backcolor2">Духовность</td>
    </tr>
    <tr>
        <td class="mytdtop , backcolor2">@ViewBag.ex5Sa</td>
        <td class="mytdtop , backcolor2">@ViewBag.ex6Bi</td>
        <td class="mytdtop , backcolor2">@ViewBag.ex7Ta</td>
        <td class="mytdtop , backcolor2">@ViewBag.ex8Du</td>
    </tr>
</table>
<p>@ViewBag.st </p>

<style>
    .mytable {
    border-collapse:collapse;
    border:3px solid black;
}
.mytd {
    border: 2px solid black;
    border-collapse:collapse;
    text-align:center;
    color:black;
}
.mytdbot {
    /*border: 2px solid black;*/
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    /*border-collapse: collapse;*/
    text-align: center;
    color: black;
}
.mytdtop {
    /*border: 2px solid black;*/
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    /*border-collapse: collapse;*/
    text-align: center;
    color: black;
}

.backcolor1 {
    background-color:mediumpurple;
}
.backcolor2 {
    background-color:bisque;
}
.text-color1 {
    color:blue;
}
.text-color2 {
    color:red;
}
</style>
<script>
        $(document).ready(function () {
            SomeeAdsRemover();
        });

        function SomeeAdsRemover() {
            $("center").each(function () {
                if ($(this).html() == '<a href="http://somee.com">Web hosting by Somee.com</a>') {
                    $(this).next().remove();
                    $(this).next().next().remove();
                    $(this).next().next().next().remove();
                    $(this).remove();

                    return false;
                }
            });
        }
</script>
